<launch>
    <arg name="control_mode"
         doc="Control mode that the rover should start in.
              Valid options are: [arm_mission, science_mission, arm_only, science_only, drivetrain_only]"/>
    <arg name="use_realtime_kernel"
         default="true"
         doc="A bool that controls whether or not to set realtime thread priority and lock memory pages. This can only
              be enabled if you are using a realtime linux kernel. Valid options are: [true, false]"/>

    <rosparam file="$(find uwrt_mars_rover_control)/cfg/control_loop.yaml" command="load"/>
    <rosparam file="$(find uwrt_mars_rover_control)/cfg/rover_controllers.yaml" command="load"/>
    <rosparam file="$(find uwrt_mars_rover_control)/cfg/rover_hardware.yaml" command="load"/>

    <rosparam file="$(find uwrt_mars_rover_drivetrain_hw)/cfg/drivetrain_controllers.yaml" command="load"/>
    <rosparam file="$(find uwrt_mars_rover_drivetrain_hw)/cfg/drivetrain_hardware.yaml" command="load"/>

    <group ns="/uwrt_mars_rover/">
        <param name="control_mode" value="$(arg control_mode)"/>
        <param name="use_realtime_kernel" value="$(arg use_realtime_kernel)"/>

        <!-- list of all the controllers to start initially. This determines what control mode each joint is at startup (ie. vel, pos, etc.).  -->
        <arg name="initial_start_controller_list" value="rover_joint_state_controller
                                                         drivetrain_velocity_controller"/>

       <!-- load the intially started controllers used in any configuration-->
       <node name="start_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
             output="screen" args="$(arg initial_start_controller_list)"/>

       <!-- list of all other controllers that should be loaded, but not started -->
       <arg name="load_only_controller_list" value="drivetrain_voltage_controller
                                                    drivetrain_position_controller"/>

       <!-- load all other controllers-->
       <node name="load_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            output="screen" args="--stopped $(arg load_only_controller_list)"/>

       <!-- load robot hw plugins list based on control mode -->
       <arg name="hardware_list" value="[drivetrain, arm]" if="$(eval control_mode == 'arm_mission')"/>
       <arg name="hardware_list" value="[drivetrain, science]" if="$(eval control_mode == 'science_mission')"/>
       <arg name="hardware_list" value="[arm]" if="$(eval control_mode == 'arm_only')"/>
       <arg name="hardware_list" value="[science]" if="$(eval control_mode == 'science_only')"/>
       <arg name="hardware_list" value="[drivetrain]" if="$(eval control_mode == 'drivetrain_only')"/>

       <rosparam param="combined_robot_hw/robot_hardware" subst_value="True">$(arg hardware_list)</rosparam>

       <node name="uwrt_mars_rover_control_node" pkg="uwrt_mars_rover_control" type="node" output="screen"/>
    </group>

</launch>
