<launch>
    <arg name="control_mode"
         doc="Control mode that the rover should start in. Valid options are arm_mission, science_mission, arm_only, science_only, drivetrain_only"/>

    <include file="$(find uwrt_mars_rover_control)/launch/rover_control.launch" pass_all_args="true"/>

</launch>
