<launch>
  <arg default="$(find uwrt_mars_rover_description)/urdf/robot.xacro" name="model"/>
  <arg default="true" name="gui"/>
  <arg default="$(find uwrt_mars_rover_description)/launch/urdf.rviz" name="rvizconfig"/>

  <arg name="control_mode" default="drivetrain_only"
         doc="Control mode that the rover should start in.
              Valid options are: [arm_mission, science_mission, arm_only, science_only, drivetrain_only]"/>

  <param command="$(find xacro)/xacro $(arg model) mode:=$(arg control_mode)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>

</launch>
