<launch>
  <param command="$(find xacro)/xacro $(find uwrt_mars_rover_description)/urdf/robot_ex.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model robot_ex" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
