<?xml version="1.0" ?>
<launch>
  <!-- Robot Spawn Parameters-->
  <arg name="spawn_x"   default="0"/>
  <arg name="spawn_y"   default="0"/>
  <arg name="spawn_yaw" default="0"/>

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model uw_mars_rover 
              -x $(arg spawn_x) -y $(arg spawn_y) -z 0.1 -Y $(arg spawn_yaw)"
        respawn="false"
	output="screen"/>
  
</launch>
