<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- file with common value -->
    <xacro:include filename="$(find uwrt_mars_rover_arm_description)/urdf/values.xacro" />
    <xacro:macro name="arm_actuator" params="prefix num">
    <ros2_control name="${prefix}_joint" type="actuator">
        <hardware>
        <plugin>uwrt_mars_rover_arm_hw/ArmActuatorInterface</plugin>
        <!-- CAN interface and Odrive id-->
        </hardware>
        <joint name="${prefix}_joint">
        <command_interface name="velocity">
            <param name="min">${-default_limit_vel}</param>
            <param name="max">${default_limit_vel}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="iq_current"/>
        <!-- acceleration, torque -->
        </joint>
        <transmission name="transmission_{$num}">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <joint name="${prefix}_joint" role="${prefix}_joint">
            <!-- <mechanical_reduction>${mechanical_reduction}</mechanical_reduction> -->
        </joint>
        </transmission>
        </ros2_control>
    </xacro:macro>
</robot>