<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="arm_robot">
    <xacro:include filename="$(find uwrt_mars_rover_arm_description)/urdf/macro.xacro"/>
    <xacro:include filename="$(find uwrt_mars_rover_arm_description)/urdf/ros2control.xacro"/>

    <xacro:robot param_file="$(find uwrt_mars_rover_arm_description)/urdf/arm_params.yaml"/>

</robot>
