<launch>

  <node pkg="turtlesim" name="turtlesim_node" type="turtlesim_node"/>
  <node pkg="drive_to_gps" name="current_heading" type="current_heading" output="screen"/>
  <node pkg="drive_to_gps" name="turtle_client" type="turtle_client" output="screen"/>
  <node pkg="drive_to_gps" name="calculate_twist" type="calculate_twist_server" output="screen"/>

</launch>
