<?xml version="1.0" ?>
<robot name="uwrt_mars_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">

<gazebo>
  <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control"/>
</gazebo>

<xacro:include filename="$(find uwrt_mars_rover_description)/urdf/robot_arm.xacro"/>
<xacro:include filename="$(find uwrt_mars_rover_description)/urdf/robot_chassis.xacro"/>

<xacro:property name="body_color" value="Gazebo/Cyan"/>

<!-- Get the control_mode from the passed argument. -->
<xacro:property name="_mode" value="$(arg mode)"/>

<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0.15385713698693046 -0.08778896425180195 -0.2698750000003254"/>
    <mass value="582.8423997062505"/>
    <inertia ixx="110.709125" ixy="-0.137662" ixz="-0.012299" iyy="155.023526" iyz="0.0" izz="97.815843"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://uwrt_mars_rover_description/meshes/chassis.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Cyan">
      <color rgba="0 1.0 1.0 1.0"/>
    </material>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://uwrt_mars_rover_description/meshes/chassis.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<gazebo reference="base_link">
  <material>${body_color}</material>
  <gravity>true</gravity>
  <selfCollide>false</selfCollide>
</gazebo>

<!-- Only the arm or science module will be added to the chassis of the robot for any launch configuration. -->
<!--  Add the arm to the chassis of the robot. -->
<xacro:if value="${_mode == 'arm_mission' or _mode == 'arm_only'}">
  <xacro:arm_to_base base_object="base_link"/>
</xacro:if>

<!-- Add the science module to the chassis of the robot. -->
<xacro:if value="${_mode == 'science_mission' or _mode == 'science_only'}">
  <!-- TODO: Add the science macro here. -->
</xacro:if>

<!-- Add the drivetrain to the chassis. This will be launched in any mode configuration. -->
<xacro:chassis_to_rocker _suffix="left" _side="1" rotate="0" base_object="base_link"/>
<xacro:chassis_to_rocker _suffix="right" _side="-1" rotate="1" base_object="base_link"/>

</robot>


