<?xml version="1.0"?>
<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="arm_gazebo" params="name">

    <gazebo>
      <plugin name="uwrt_arm_hw" filename="libgazebo_uwrt_arm_hw.so">
        <robotNamespace>/</robotNamespace>
      </plugin>
    </gazebo>

    <gazebo reference="${name}_turntable_link">
      <static>false</static>
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_shoulder_revolute_link">
      <static>false</static>
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>
    
    <gazebo reference="${name}_bicep_link">
      <static>false</static>
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_forearm_link">
      <static>false</static>
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_wrist_link">
      <static>false</static>
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_claw_link">
      <static>false</static>
      <gravity>true</gravity>
      <selfCollide>true</selfCollide>
    </gazebo>

  </xacro:macro>
</robot>
