<launch>
  <!-- Joystick/Gamepad parameters -->
  <arg name="arm_joy_topic"     default="arm/joy" />
  <arg name="autorepeat_rate"   default="0.0" />
  <arg name="deadzone"          default="0.2" />
  <arg name="dev"               default="/dev/input/js0" />
  <arg name="coalesce_interval" default="0.001" />

  <!-- Teleop Configuration(s) -->
  <arg name="joint_jogging"     default="true" />
  <arg name="teleop_config"     default="$(eval find('uwrt_arm_control') + '/config/moveit/xbox360_arm_joint_jog.yaml' if arg('joint_jogging')
                                                else find('uwrt_arm_control') + '/config/moveit/xbox360_arm_cartesian_jog.yaml')"/>

  <!-- Arm Jogging parameters -->
  <arg name="jog_server_ns"     default="jog_server" />
  <arg name="jog_config_file"   default="$(find uwrt_arm_control)/config/moveit/arm_jog_config.yaml" />

  <group>
    <!-- To prevent topic clashing with other joy topics, map joy commands for arm to a 
         custom topic-->
    <remap from="joy"      to="$(arg arm_joy_topic)" />

    <!-- This node publishes commands from the controller -->
    <node name="arm_joy_node" pkg="joy" type="joy_node">
      <param name="autorepeat_rate"   value="$(arg autorepeat_rate)" />
      <param name="coalesce_interval" value="$(arg coalesce_interval)" />
      <param name="deadzone"          value="$(arg deadzone)" />
      <param name="dev"               value="$(arg dev)" />
    </node>

    <!-- This maps joy events to twist messages -->
    <rosparam command="load" file="$(arg teleop_config)" ns="arm" />
    <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
      <remap from="teleop" to="arm/teleop" />
    </node>
  </group>

  <!-- If jogging individual joints, launch node to intercept and republish commands in appropriate format -->
  <node name="delta_joint_jog_publisher" pkg="uwrt_arm_control" type="delta_joint_publisher_node"
        if="$(arg joint_jogging)" ns="$(arg jog_server_ns)" output="screen" />

  <!-- This node does the jogging calculations -->
  <node name="jog_server" pkg="moveit_jog_arm" type="jog_server" output="screen">
    <param name="parameter_ns" type="string"  value="$(arg jog_server_ns)" />
    <rosparam command="load"   file="$(arg jog_config_file)" />
  </node>
</launch>
