<?xml version="1.0"?>
<launch>
  <arg name="sim" default="false"/>

  <!-- Load arm URDF to the parameter server and start robot state publisher-->
  <include file="$(find uwrt_arm_description)/launch/description.launch"/>

  <!-- Launch Arm Controllers and Planners -->
  <include file="$(find uwrt_arm_control)/launch/arm_control.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>
</launch>
