<?xml version="1.0"?>
<launch>
  <arg name="can_device" default="can0"/>
  <arg name="debug"      default="false"/>
  <arg name="sim"        default="false"/>

  <param name="use_sim_time" value="$(arg sim)"/>

  <!-- Load arm URDF to the parameter server and start robot state publisher-->
  <include file="$(find uwrt_arm_description)/launch/description.launch"/>

  <!-- Launch Arm Controllers and Planners -->
  <include file="$(find uwrt_arm_control)/launch/arm_control.launch">
    <arg name="can_device" value="$(arg can_device)"/>
    <arg name="debug"      value="$(arg debug)"/>
    <arg name="sim"        value="$(arg sim)"/>
  </include>
</launch>
